
/* MAIN_STYLE */

body {
	margin: 0;
	padding: 0;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #333333;
	text-align: center;
	margin: 0;
	padding: 10px;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	color: #ffffff;
	margin: 0;
	padding: 10px 0;
	font-weight: 600;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	color: #555555;
	margin: 0;
	padding: 40px 0 0 0;
	font-weight: 600;
	text-align: center;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: #ffffff;
	margin: 0;
	padding: 30px 0 5px 0;
	font-weight: 300;
	text-align: center;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	color: #ffffff;
	margin: 10px 0;
	padding: 10px 0 0;
	font-weight: 300;
}

h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #ffffff;
	margin: 0;
	padding: 10px 0;
	font-weight: 400;
	line-height: 32px;
}

li {
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

a {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: #333333;
	text-align: center;
}

a:hover {
	color: #1b75bb;
}

a.sign-up {
	background-color: #1b75bb;
	padding: 10px 15px;
	margin: 10px 0 10px 10px;
	font-size: 13px;
	color: #ffffff;
	box-shadow: 0px 2px 2px #333333;
}

a:hover.sign-up {
	background-color: #1f84d3;
}

a:active.sign-up {
	background: -webkit-linear-gradient(rgba(27,117,187,1),rgba(34,154,248,1));
	background: -o-linear-gradient(rgba(27,117,187,1),rgba(34,154,248,1));
	background: -moz-linear-gradient(rgba(27,117,187,1),rgba(34,154,248,1));
	background: linear-gradient(rgba(27,117,187,1),rgba(34,154,248,1));
	box-shadow: none;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.clear {
	clear: both;
}

a.blue-button {
	background-color: #1b75bb;
	padding: 10px 15px;
	width: 100px;
	font-size: 13px;
	color: #ffffff;
	margin: 20px auto;
	display: block;
	box-shadow: 0px 2px 4px #333333;
}

a:hover.blue-button {
	background-color: #1f84d3;
}

a:active.blue-button {
	background: -webkit-linear-gradient(rgba(27,117,187,1),rgba(34,154,248,1));
	background: -o-linear-gradient(rgba(27,117,187,1),rgba(34,154,248,1));
	background: -moz-linear-gradient(rgba(27,117,187,1),rgba(34,154,248,1));
	background: linear-gradient(rgba(27,117,187,1),rgba(34,154,248,1));
	box-shadow: none;
}

a.buttons {
	background-color: #00a294;
	padding: 15px 20px;
	width: 360px;
	font-size: 18px;
	font-weight: 500;
	color: #ffffff;
	margin: 10px auto;
	display: block;
	box-shadow: 0px 2px 4px #333333;
}

a:hover.buttons {
	background-color: #00b5a5;
}

a:active.buttons {
	background: -webkit-linear-gradient(rgba(0,136,124,1),rgba(0,181,165,1));
	background: -o-linear-gradient(rgba(0,136,124,1),rgba(0,181,165,1));
	background: -moz-linear-gradient(rgba(0,136,124,1),rgba(0,181,165,1));
	background: linear-gradient(rgba(0,136,124,1),rgba(0,181,165,1));
	box-shadow: none;
}

.flright {
	float: right;
}

.flleft {
	float: left;
}


/* TOP-MENU */

#top-menu {
	width: 100%;
	height: 60px;
	background-color: #ffffff;
	position: fixed;
	z-index: +1;
	top: 0;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .2)
}

#logo {
	float: left;
	padding: 15px 0;
}

#top-menu ul {
	float: right;
	margin: 0;
}

#top-menu li {
	float: left;
	padding: 22px 15px;
}

#top-menu li a:hover {
	border-bottom: solid;
	border-width: 1px;
}

#top-menu li a:active {
	color: #1b75bb;
}


/* OFFER-SECTION */

#offer-section {
	width: 100%;
	height: 1000px;
	background-image: url(bgimage.jpg);
	background-attachment: cover;
	margin: 60px 0 0 0;
	padding: 0;
}

#intro-text {
	width: 520px;
	float: left;
	margin: 40px 0 0;
}

.feature-box {
	background-color: rgba(27, 117, 187, 0.6);
	width: 225px;
	height: 200px;
	margin: 7.5px;
	float: left;
}

.feature-box p {
	color: #ffffff;
}

#stamp-box {
	background-color: rgba(27, 117, 187, 0.6);
	width: 946px;
	height: 150px;
	margin: 7px;
	float: left;
}

#stamp-box h4 {
	margin-top: 20px;
}

#stamp-box p {
	color: #ffffff;
	text-align: left;
}

img#copyright {
	padding: 35px;
	float: left;
}

img.icon-center64 {
	margin: 0 auto;
	padding: 40px 80px 20px;
	background: none;
}

img.icon-center48 {
	margin: 0 auto;
	padding: 40px 88px 20px;
	background: none;
}


/* TESTIMONIAL */

#testimonial {
	background-color: #ffffff;
	width: 100%;
	height: 270px;
	margin: 0;
	padding: 0;
}

#testimonial p {
	font-size: 18px;
	line-height: 28px;
	text-align: left;
	top: 60px;
	left: 20px;
	padding: 30px 20px;
	position: relative;
}

#author {
	font-style: italic;
}


/* HOW IT WORKS */

#howitworks {
	background-color: #fafaf2;
	width: 100%;
	height: 380px;
	margin: 0 0 320px 0;
	padding: 0;
}

.desk1 {
	width: 460px;
	margin: 10px;
	float: left;
}

.desk1 img {
	margin: 0;
	padding: 30px 20px 10px;
}

.desk2 {
	width: 460px;
	margin: 70px 0 0 0;
	float: left;
}

.desk2 img {
	float: left;
	padding: 20px;
	margin: 0;
}

.desk2 h4 {
	color: #555555;
	margin: 0;
	padding: 5px 0;
}

.desk2 p {
	margin: 0;
	padding: 5px 0 45px 0;
	text-align: left;
}


/* BOOK EXAMPLES */

#book-examples {
	background-color: #333333;
	width: 100%;
	height: 340px;
	margin: 0;
	padding: 0;
}

.books {
	float: left;
}

.books img {
	margin: 40px 30px 10px;
	border: none;
}

.books p {
	text-align: center;
	padding: 0 22px;
	width: 145px;
	color: #ffffff;
}

.books a:hover {
	border: none;
}

.books img:hover {
	box-shadow: 0 0 20px #000000;
}


/* CALL TO ACTION 2 */

#cta2 {
	background-color: #f7f7ef;
	width: 100%;
	height: 200px;
	margin: 0;
	padding: 0;
}


/* FEATURES */

#features-section {
	background-color: #ffffff;
	width: 100%;
	height: 2260px;
	margin: 0;
	padding: 0;
}

.features {
	width: 460px;
	margin: 60px 0 0 0;
	float: left;
	border: none;
}

.features img {
	float: left;
	padding: 0 20px 90px 0;
	border: none;
}

.features h4 {
	color: #555555;
	margin: 0;
	padding: 0 20px 10px;
}

.features p {
	margin: 0;
	padding: 5px 40px 40px 0;
	text-align: justify;
}

#link-example {
	background-color: #f7f7f7;
	border-style: solid;
	border-color:#cccccc;
	border-width: 1px;
	width: 360px;
	margin: 20px auto;
}


/* CTA3 */

#cta3 {
	background-color: #1b75bb;
	width: 100%;
	height: 360px;
	margin: 0;
	padding: 0;
}

#cta3 img {
	margin: 0 auto;
	display: block;
	padding: 50px 0 0;
}

#cta3 p {
	color: #ffffff;
}


/* PRESS */

#press {
	background-color: #ffffff;
	width: 100%;
	height: 240px;
	margin: 0;
	padding: 0;
}

#press img {
	padding: 8px;
	margin: 30px auto;
	border: none;
}

/* FOOTER */

footer {
	background-color: #333333;
	width: 100%;
	height: 240px;
	margin: 0;
	padding: 0;	
}

#about {
	width: 620px;
	float: left;
	margin-top: 40px;
}

#about p {
	color: #cccccc;
	text-align: justify;
	font-size: 14px;
	padding: 10px 40px 10px 0;
}

#linkbox {
	width: 160px;
	float: left;
	margin-top: 40px;
}

#linkbox p {
	color: #cccccc;
	text-align: left;
	font-size: 12px;
	margin: 0;
	padding: 0 10px;
}
#linkbox ul {
	list-style: none;
	padding: 0 10px;
	line-height: 1.6;
}

#linkbox ul li a {
	font-size: 14px;
	color: white;
}

#linkbox ul li a:hover {
	color: #1b75bb;
}

#linkbox img {
	padding: 10px 10px 20px;
	float: left;
	border: none;
}

#credits {
	background-color: #555555;
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 0;
}

#credits p {
	font-size: 11px;
	color: #cccccc;
	text-align: left;
	padding: 14px 0 0;
	float: left;
}

#creditlinks ul {
	margin: 0;
	padding: 0;
	float: right;
}

#creditlinks li {
	margin: 14px 0 0 0;
	padding: 0 5px;
	float: left;
}

#creditlinks a {
	font-size: 11px;
	color: #cccccc;
	margin: 0;
	padding: 0 5px;
	float: left;
}

#creditlinks a:hover {
	color: #ffffff;
}